<html><head><title>
Minesweeper Code Kata Report
</title>

<style>
    .addedLine {
        color: #5CFF7C;
    }
    .removedLine {
        color: #F78398;
    }

</style>

</head><body style='background-color:black; color:white;'><pre>
<h1>Code Kata Report</h1>
diff -r 1bcc39844e20 -r a4610cc0ae73 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- /dev/null	Thu Jan 01 00:00:00 1970 +0000</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:31:31 2012 -0600</span>
@@ -0,0 +1,22 @@
<span class="addedLine">+package com.nicholas.tuck.katas.minesweeper;&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+import org.junit.Test;&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+import static org.hamcrest.MatcherAssert.assertThat;&#13;</span>
<span class="addedLine">+import static org.hamcrest.Matchers.*;&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+public class MinesweeperTest {&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void shouldLoadTrivialGrid() {&#13;</span>
<span class="addedLine">+        char[][] input = new char[2][2];&#13;</span>
<span class="addedLine">+        input[0] = new char[] {'.', '.'};&#13;</span>
<span class="addedLine">+        input[1] = new char[] {'.', '.'};&#13;</span>
<span class="addedLine">+        &#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, notNullValue());&#13;</span>
<span class="addedLine">+        assertThat(output[0], is(new char[] {'0', '0'}));&#13;</span>
<span class="addedLine">+        assertThat(output[1], is(new char[] {'0', '0'}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+}&#13;</span>



diff -r 1bcc39844e20 -r a4610cc0ae73 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- /dev/null	Thu Jan 01 00:00:00 1970 +0000</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:31:31 2012 -0600</span>
@@ -0,0 +1,11 @@
<span class="addedLine">+package com.nicholas.tuck.katas.minesweeper;&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+public class Minesweeper {&#13;</span>
<span class="addedLine">+    public Minesweeper(char[][] input) {&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    public char[][] sweep() {&#13;</span>
<span class="addedLine">+        return new char[][] {{'0', '0'}, {'0', '0'}};&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+}&#13;</span>
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r a4610cc0ae73 -r 8bc92a255b87 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:31:31 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:44:08 2012 -0600</span>
@@ -6,17 +6,30 @@
 import static org.hamcrest.Matchers.*;&#13;
 &#13;
 public class MinesweeperTest {&#13;
 &#13;
     @Test&#13;
<span class="removedLine">-    public void shouldLoadTrivialGrid() {&#13;</span>
<span class="addedLine">+    public void shouldLoadNoMines() {&#13;</span>
         char[][] input = new char[2][2];&#13;
         input[0] = new char[] {'.', '.'};&#13;
         input[1] = new char[] {'.', '.'};&#13;
         &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, notNullValue());&#13;
         assertThat(output[0], is(new char[] {'0', '0'}));&#13;
         assertThat(output[1], is(new char[] {'0', '0'}));&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void shouldLoadAllMines() {&#13;</span>
<span class="addedLine">+        char[][] input = new char[2][2];&#13;</span>
<span class="addedLine">+        input[0] = new char[] {'*', '*'};&#13;</span>
<span class="addedLine">+        input[1] = new char[] {'*', '*'};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, notNullValue());&#13;</span>
<span class="addedLine">+        assertThat(output[0], is(new char[] {'*', '*'}));&#13;</span>
<span class="addedLine">+        assertThat(output[1], is(new char[] {'*', '*'}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;



diff -r a4610cc0ae73 -r 8bc92a255b87 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:31:31 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:44:08 2012 -0600</span>
@@ -1,11 +1,24 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    private final char[][] minefield;&#13;</span>
<span class="addedLine">+&#13;</span>
     public Minesweeper(char[][] input) {&#13;
 &#13;
<span class="addedLine">+        minefield = input;&#13;</span>
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
<span class="removedLine">-        return new char[][] {{'0', '0'}, {'0', '0'}};&#13;</span>
<span class="addedLine">+        for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;</span>
<span class="addedLine">+            char[] row = minefield[rowIndex];&#13;</span>
<span class="addedLine">+            for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;</span>
<span class="addedLine">+                char cell = row[colIndex];&#13;</span>
<span class="addedLine">+                if (cell != '*') {&#13;</span>
<span class="addedLine">+                    minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="addedLine">+                }&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+        }&#13;</span>
<span class="addedLine">+        return minefield;&#13;</span>
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 8bc92a255b87 -r a0c289ebb976 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:44:08 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:53:27 2012 -0600</span>
@@ -30,6 +30,15 @@
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, notNullValue());&#13;
         assertThat(output[0], is(new char[] {'*', '*'}));&#13;
         assertThat(output[1], is(new char[] {'*', '*'}));&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellNextToSingleMineShouldBeOne() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*', '.'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output[0], is(new char[] {'*', '1'}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;



diff -r 8bc92a255b87 -r a0c289ebb976 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:44:08 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:53:27 2012 -0600</span>
@@ -1,24 +1,35 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
<span class="removedLine">-                char cell = row[colIndex];&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+                char cell = minefield[rowIndex][colIndex];&#13;</span>
<span class="addedLine">+&#13;</span>
                 if (cell != '*') {&#13;
<span class="removedLine">-                    minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="addedLine">+                    char previousCell = 0;&#13;</span>
<span class="addedLine">+                    if ((colIndex - 1) &gt;= 0){&#13;</span>
<span class="addedLine">+                        previousCell = row[colIndex -1];&#13;</span>
<span class="addedLine">+                    }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+                    if (previousCell == '*') {&#13;</span>
<span class="addedLine">+                        minefield[rowIndex][colIndex] = '1';&#13;</span>
<span class="addedLine">+                    } else {&#13;</span>
<span class="addedLine">+                        minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="addedLine">+                    }&#13;</span>
                 }&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>



diff -r a0c289ebb976 -r 77995a151543 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:53:27 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:55:51 2012 -0600</span>
@@ -1,35 +1,39 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
<span class="removedLine">-&#13;</span>
<span class="removedLine">-                char cell = minefield[rowIndex][colIndex];&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-                if (cell != '*') {&#13;</span>
<span class="removedLine">-                    char previousCell = 0;&#13;</span>
<span class="removedLine">-                    if ((colIndex - 1) &gt;= 0){&#13;</span>
<span class="removedLine">-                        previousCell = row[colIndex -1];&#13;</span>
<span class="removedLine">-                    }&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-                    if (previousCell == '*') {&#13;</span>
<span class="removedLine">-                        minefield[rowIndex][colIndex] = '1';&#13;</span>
<span class="removedLine">-                    } else {&#13;</span>
<span class="removedLine">-                        minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="removedLine">-                    }&#13;</span>
<span class="removedLine">-                }&#13;</span>
<span class="addedLine">+                updateCell(rowIndex, colIndex);&#13;</span>
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    private void updateCell(int rowIndex, int colIndex) {&#13;</span>
<span class="addedLine">+        char[] row = minefield[rowIndex];&#13;</span>
<span class="addedLine">+        char cell = row[colIndex];&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        if (cell != '*') {&#13;</span>
<span class="addedLine">+            char previousCell = 0;&#13;</span>
<span class="addedLine">+            if ((colIndex - 1) &gt;= 0){&#13;</span>
<span class="addedLine">+                previousCell = row[colIndex -1];&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+            if (previousCell == '*') {&#13;</span>
<span class="addedLine">+                minefield[rowIndex][colIndex] = '1';&#13;</span>
<span class="addedLine">+            } else {&#13;</span>
<span class="addedLine">+                minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+        }&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 77995a151543 -r 92ea9e11ff66 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 12:55:51 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:11:52 2012 -0600</span>
@@ -39,6 +39,15 @@
 &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output[0], is(new char[] {'*', '1'}));&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellWithMinesOnLeftAndRightShouldBeTwo() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*', '.', '*'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output[0], is(new char[] {'*', '2', '*'}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;



diff -r 77995a151543 -r 92ea9e11ff66 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 12:55:51 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:11:52 2012 -0600</span>
@@ -1,39 +1,47 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
<span class="removedLine">-&#13;</span>
<span class="addedLine">+        int numMines = 0;&#13;</span>
         if (cell != '*') {&#13;
             char previousCell = 0;&#13;
<span class="addedLine">+            char nextCell = 0;&#13;</span>
             if ((colIndex - 1) &gt;= 0){&#13;
                 previousCell = row[colIndex -1];&#13;
             }&#13;
 &#13;
             if (previousCell == '*') {&#13;
<span class="removedLine">-                minefield[rowIndex][colIndex] = '1';&#13;</span>
<span class="removedLine">-            } else {&#13;</span>
<span class="removedLine">-                minefield[rowIndex][colIndex] = '0';&#13;</span>
<span class="addedLine">+                ++numMines;&#13;</span>
             }&#13;
<span class="addedLine">+            if ((colIndex + 1) &lt; row.length){&#13;</span>
<span class="addedLine">+                nextCell = row[colIndex +1];&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+            if (nextCell == '*') {&#13;</span>
<span class="addedLine">+                ++numMines;&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+            minefield[rowIndex][colIndex] = (char)((int)'0'+ numMines);&#13;</span>
         }&#13;
<span class="addedLine">+&#13;</span>
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>



diff -r 92ea9e11ff66 -r 6dfb161c93cb src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:11:52 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:17:15 2012 -0600</span>
@@ -1,47 +1,47 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
             char previousCell = 0;&#13;
             char nextCell = 0;&#13;
             if ((colIndex - 1) &gt;= 0){&#13;
                 previousCell = row[colIndex -1];&#13;
             }&#13;
 &#13;
             if (previousCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
             if ((colIndex + 1) &lt; row.length){&#13;
                 nextCell = row[colIndex +1];&#13;
             }&#13;
 &#13;
             if (nextCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
<span class="removedLine">-            minefield[rowIndex][colIndex] = (char)((int)'0'+ numMines);&#13;</span>
<span class="addedLine">+            minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;</span>
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 6dfb161c93cb -r fc2d79672709 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:17:15 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:29:17 2012 -0600</span>
@@ -48,6 +48,18 @@
 &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output[0], is(new char[] {'*', '2', '*'}));&#13;
     }&#13;
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellsWithMinesAboveShouldBeOne() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*'},&#13;</span>
<span class="addedLine">+                          {'.'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, notNullValue());&#13;</span>
<span class="addedLine">+        assertThat(output[0], is(new char[] {'*'}));&#13;</span>
<span class="addedLine">+        assertThat(output[1], is(new char[] {'1'}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+&#13;</span>
 }&#13;



diff -r 6dfb161c93cb -r fc2d79672709 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:17:15 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:29:17 2012 -0600</span>
@@ -1,47 +1,58 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
             char previousCell = 0;&#13;
             char nextCell = 0;&#13;
<span class="addedLine">+            char aboveCell = 0;&#13;</span>
<span class="addedLine">+&#13;</span>
             if ((colIndex - 1) &gt;= 0){&#13;
                 previousCell = row[colIndex -1];&#13;
             }&#13;
 &#13;
             if (previousCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
             if ((colIndex + 1) &lt; row.length){&#13;
                 nextCell = row[colIndex +1];&#13;
             }&#13;
 &#13;
             if (nextCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+            if (rowIndex &gt; 0) {&#13;</span>
<span class="addedLine">+                aboveCell = minefield[rowIndex -1][colIndex];&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+            if (aboveCell == '*') {&#13;</span>
<span class="addedLine">+                ++numMines;&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+&#13;</span>
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>



diff -r fc2d79672709 -r 4d8e2bb35431 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:29:17 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:36:21 2012 -0600</span>
@@ -1,58 +1,47 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
<span class="removedLine">-            char previousCell = 0;&#13;</span>
<span class="removedLine">-            char nextCell = 0;&#13;</span>
<span class="removedLine">-            char aboveCell = 0;&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-            if ((colIndex - 1) &gt;= 0){&#13;</span>
<span class="removedLine">-                previousCell = row[colIndex -1];&#13;</span>
<span class="removedLine">-            }&#13;</span>
<span class="addedLine">+            char previousCell = ((colIndex - 1) &gt;= 0) ? row[colIndex -1] : 0;&#13;</span>
<span class="addedLine">+            char nextCell = ((colIndex + 1) &lt; row.length) ? row[colIndex +1] : 0;&#13;</span>
<span class="addedLine">+            char aboveCell = (rowIndex &gt;0 ) ? minefield[rowIndex -1][colIndex] : 0;&#13;</span>
 &#13;
             if (previousCell == '*') {&#13;
                 ++numMines;&#13;
<span class="removedLine">-            }&#13;</span>
<span class="removedLine">-            if ((colIndex + 1) &lt; row.length){&#13;</span>
<span class="removedLine">-                nextCell = row[colIndex +1];&#13;</span>
             }&#13;
 &#13;
             if (nextCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
 &#13;
<span class="removedLine">-            if (rowIndex &gt; 0) {&#13;</span>
<span class="removedLine">-                aboveCell = minefield[rowIndex -1][colIndex];&#13;</span>
<span class="removedLine">-            }&#13;</span>
             if (aboveCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
<span class="removedLine">-&#13;</span>
 &#13;
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 4d8e2bb35431 -r 4d4873882f4e src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:36:21 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:46:32 2012 -0600</span>
@@ -10,11 +10,11 @@
     @Test&#13;
     public void shouldLoadNoMines() {&#13;
         char[][] input = new char[2][2];&#13;
         input[0] = new char[] {'.', '.'};&#13;
         input[1] = new char[] {'.', '.'};&#13;
<span class="removedLine">-        &#13;</span>
<span class="addedLine">+&#13;</span>
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, notNullValue());&#13;
         assertThat(output[0], is(new char[] {'0', '0'}));&#13;
         assertThat(output[1], is(new char[] {'0', '0'}));&#13;
@@ -48,18 +48,28 @@
 &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output[0], is(new char[] {'*', '2', '*'}));&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
     @Test&#13;
<span class="removedLine">-    public void cellsWithMinesAboveShouldBeOne() {&#13;</span>
<span class="addedLine">+    public void cellsWithMineAboveShouldBeOne() {&#13;</span>
         char[][] input = {{'*'},&#13;
                           {'.'}};&#13;
 &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
<span class="removedLine">-        assertThat(output, notNullValue());&#13;</span>
<span class="removedLine">-        assertThat(output[0], is(new char[] {'*'}));&#13;</span>
<span class="removedLine">-        assertThat(output[1], is(new char[] {'1'}));&#13;</span>
<span class="addedLine">+        assertThat(output, is(new char[][] {{'*'}, {'1'}}));&#13;</span>
     }&#13;
 &#13;
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellsWithMineBelowShouldBeOne() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'.'},&#13;</span>
<span class="addedLine">+                          {'*'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, is(new char[][] {{'1'}, {'*'}}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+&#13;</span>
 }&#13;



diff -r 4d8e2bb35431 -r 4d4873882f4e src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:36:21 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:46:32 2012 -0600</span>
@@ -1,47 +1,52 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
<span class="removedLine">-            char previousCell = ((colIndex - 1) &gt;= 0) ? row[colIndex -1] : 0;&#13;</span>
<span class="removedLine">-            char nextCell = ((colIndex + 1) &lt; row.length) ? row[colIndex +1] : 0;&#13;</span>
<span class="removedLine">-            char aboveCell = (rowIndex &gt;0 ) ? minefield[rowIndex -1][colIndex] : 0;&#13;</span>
<span class="addedLine">+            char previousCell = (colIndex - 1 &gt;= 0) ? row[colIndex -1] : 0;&#13;</span>
<span class="addedLine">+            char nextCell = (colIndex + 1 &lt; row.length) ? row[colIndex +1] : 0;&#13;</span>
<span class="addedLine">+            char aboveCell = (rowIndex &gt; 0) ? minefield[rowIndex -1][colIndex] : 0;&#13;</span>
<span class="addedLine">+            char belowCell = (rowIndex + 1 &lt; minefield.length) ? minefield[rowIndex +1][colIndex] : 0;&#13;</span>
 &#13;
             if (previousCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
 &#13;
             if (nextCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
 &#13;
             if (aboveCell == '*') {&#13;
                 ++numMines;&#13;
             }&#13;
 &#13;
<span class="addedLine">+            if (belowCell == '*') {&#13;</span>
<span class="addedLine">+                ++numMines;&#13;</span>
<span class="addedLine">+            }&#13;</span>
<span class="addedLine">+&#13;</span>
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 4d4873882f4e -r 43d6d5f34d2d src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 13:46:32 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 14:01:14 2012 -0600</span>
@@ -69,7 +69,28 @@
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, is(new char[][] {{'1'}, {'*'}}));&#13;
     }&#13;
 &#13;
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellsWithMinesAboveAndBelowShouldBeTwo() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*'},&#13;</span>
<span class="addedLine">+                          {'.'},&#13;</span>
<span class="addedLine">+                          {'*'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, is(new char[][] {{'*'}, {'2'}, {'*'}}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellsWithMineAboveAndLeftShouldBeOne() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*', '.'},&#13;</span>
<span class="addedLine">+                          {'.', '.'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, is(new char[][] {{'*', '1'},&#13;</span>
<span class="addedLine">+                                            {'1', '1'}}));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 &#13;
 }&#13;



diff -r 4d4873882f4e -r 43d6d5f34d2d src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 13:46:32 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 14:01:14 2012 -0600</span>
@@ -1,52 +1,45 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
             char previousCell = (colIndex - 1 &gt;= 0) ? row[colIndex -1] : 0;&#13;
             char nextCell = (colIndex + 1 &lt; row.length) ? row[colIndex +1] : 0;&#13;
             char aboveCell = (rowIndex &gt; 0) ? minefield[rowIndex -1][colIndex] : 0;&#13;
             char belowCell = (rowIndex + 1 &lt; minefield.length) ? minefield[rowIndex +1][colIndex] : 0;&#13;
<span class="removedLine">-&#13;</span>
<span class="removedLine">-            if (previousCell == '*') {&#13;</span>
<span class="removedLine">-                ++numMines;&#13;</span>
<span class="removedLine">-            }&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-            if (nextCell == '*') {&#13;</span>
<span class="removedLine">-                ++numMines;&#13;</span>
<span class="removedLine">-            }&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-            if (aboveCell == '*') {&#13;</span>
<span class="removedLine">-                ++numMines;&#13;</span>
<span class="removedLine">-            }&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-            if (belowCell == '*') {&#13;</span>
<span class="removedLine">-                ++numMines;&#13;</span>
<span class="addedLine">+            char upperLeftCell = (rowIndex &gt; 0 &amp;&amp; colIndex -1 &gt;= 0)&#13;</span>
<span class="addedLine">+                    ? minefield[rowIndex -1][colIndex-1] : 0;&#13;</span>
<span class="addedLine">+            &#13;</span>
<span class="addedLine">+            char[] neighbors = new char[] {previousCell, nextCell, aboveCell, belowCell, upperLeftCell};&#13;</span>
<span class="addedLine">+            for (char currentNeighbor : neighbors) {&#13;</span>
<span class="addedLine">+                if (currentNeighbor == '*') {&#13;</span>
<span class="addedLine">+                    ++numMines;&#13;</span>
<span class="addedLine">+                }&#13;</span>
             }&#13;
 &#13;
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 43d6d5f34d2d -r 9fbefc8cf4d6 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 14:01:14 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 14:18:55 2012 -0600</span>
@@ -91,6 +91,19 @@
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, is(new char[][] {{'*', '1'},&#13;
                                             {'1', '1'}}));&#13;
     }&#13;
 &#13;
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void cellSurroundedByMinesShouldBeEight() {&#13;</span>
<span class="addedLine">+        char[][] input = {{'*', '*', '*'},&#13;</span>
<span class="addedLine">+                          {'*', '.', '*'},&#13;</span>
<span class="addedLine">+                          {'*', '*', '*'}};&#13;</span>
<span class="addedLine">+        char[][] expectedOutput = {{'*', '*', '*'},&#13;</span>
<span class="addedLine">+                                   {'*', '8', '*'},&#13;</span>
<span class="addedLine">+                                   {'*', '*', '*'}};&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, is(expectedOutput));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;



diff -r 43d6d5f34d2d -r 9fbefc8cf4d6 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 14:01:14 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 14:18:55 2012 -0600</span>
@@ -1,45 +1,45 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
<span class="removedLine">-            char previousCell = (colIndex - 1 &gt;= 0) ? row[colIndex -1] : 0;&#13;</span>
<span class="removedLine">-            char nextCell = (colIndex + 1 &lt; row.length) ? row[colIndex +1] : 0;&#13;</span>
<span class="removedLine">-            char aboveCell = (rowIndex &gt; 0) ? minefield[rowIndex -1][colIndex] : 0;&#13;</span>
<span class="removedLine">-            char belowCell = (rowIndex + 1 &lt; minefield.length) ? minefield[rowIndex +1][colIndex] : 0;&#13;</span>
<span class="removedLine">-            char upperLeftCell = (rowIndex &gt; 0 &amp;&amp; colIndex -1 &gt;= 0)&#13;</span>
<span class="removedLine">-                    ? minefield[rowIndex -1][colIndex-1] : 0;&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+            int topRow = (rowIndex &gt; 0) ? rowIndex -1 : 0;&#13;</span>
<span class="addedLine">+            int bottomRow = (rowIndex + 1 &lt; minefield.length) ? rowIndex + 1 : rowIndex;&#13;</span>
<span class="addedLine">+            int leftCol = (colIndex - 1 &gt;= 0) ? colIndex -1 : 0;&#13;</span>
<span class="addedLine">+            int rightCol = (colIndex + 1 &lt; row.length) ? colIndex +1 : colIndex;&#13;</span>
             &#13;
<span class="removedLine">-            char[] neighbors = new char[] {previousCell, nextCell, aboveCell, belowCell, upperLeftCell};&#13;</span>
<span class="removedLine">-            for (char currentNeighbor : neighbors) {&#13;</span>
<span class="removedLine">-                if (currentNeighbor == '*') {&#13;</span>
<span class="removedLine">-                    ++numMines;&#13;</span>
<span class="addedLine">+            for (int neighborRow = topRow; neighborRow &lt;= bottomRow; neighborRow++){&#13;</span>
<span class="addedLine">+                for (int neighborCol = leftCol; neighborCol &lt;= rightCol; neighborCol++){&#13;</span>
<span class="addedLine">+                    if (minefield[neighborRow][neighborCol] == '*'){&#13;</span>
<span class="addedLine">+                        numMines++;&#13;</span>
<span class="addedLine">+                    }&#13;</span>
                 }&#13;
             }&#13;
 &#13;
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
 }&#13;
<font color='yellow'>


******************************************
******************************************
************ Next Diff *******************
******************************************
******************************************


 </font>
diff -r 9fbefc8cf4d6 -r 238b0ae2d2f5 src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java
<span class="removedLine">--- a/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 14:18:55 2012 -0600</span>
<span class="addedLine">+++ b/src/test/java/com/nicholas/tuck/katas/minesweeper/MinesweeperTest.java	Fri Nov 30 14:44:09 2012 -0600</span>
@@ -1,13 +1,28 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
 &#13;
 import org.junit.Test;&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+import java.util.ArrayList;&#13;</span>
<span class="addedLine">+import java.util.Arrays;&#13;</span>
<span class="addedLine">+import java.util.List;&#13;</span>
 &#13;
 import static org.hamcrest.MatcherAssert.assertThat;&#13;
 import static org.hamcrest.Matchers.*;&#13;
 &#13;
 public class MinesweeperTest {&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    public static final char[][] TWO_BY_TWO_ABOVE_LEFT_INPUT = {{'*', '.'},&#13;</span>
<span class="addedLine">+            {'.', '.'}};&#13;</span>
<span class="addedLine">+    public static final char[][] TWO_BY_TWO_ABOVE_LEFT_OUTPUT = {{'*', '1'},&#13;</span>
<span class="addedLine">+            {'1', '1'}};&#13;</span>
<span class="addedLine">+    public static final char[][] THREE_BY_THREE_SURRENDER_INPUT = {{'*', '*', '*'},&#13;</span>
<span class="addedLine">+            {'*', '.', '*'},&#13;</span>
<span class="addedLine">+            {'*', '*', '*'}};&#13;</span>
<span class="addedLine">+    public static final char[][] THREE_BY_THREE_SURRENDER_OUTPUT = {{'*', '*', '*'},&#13;</span>
<span class="addedLine">+            {'*', '8', '*'},&#13;</span>
<span class="addedLine">+            {'*', '*', '*'}};&#13;</span>
 &#13;
     @Test&#13;
     public void shouldLoadNoMines() {&#13;
         char[][] input = new char[2][2];&#13;
         input[0] = new char[] {'.', '.'};&#13;
@@ -82,28 +97,43 @@
         assertThat(output, is(new char[][] {{'*'}, {'2'}, {'*'}}));&#13;
     }&#13;
 &#13;
     @Test&#13;
     public void cellsWithMineAboveAndLeftShouldBeOne() {&#13;
<span class="removedLine">-        char[][] input = {{'*', '.'},&#13;</span>
<span class="removedLine">-                          {'.', '.'}};&#13;</span>
<span class="removedLine">-&#13;</span>
<span class="removedLine">-        Minesweeper minesweeper = new Minesweeper(input);&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(TWO_BY_TWO_ABOVE_LEFT_INPUT);&#13;</span>
         char[][] output = minesweeper.sweep();&#13;
<span class="removedLine">-        assertThat(output, is(new char[][] {{'*', '1'},&#13;</span>
<span class="removedLine">-                                            {'1', '1'}}));&#13;</span>
<span class="addedLine">+        assertThat(output, is(TWO_BY_TWO_ABOVE_LEFT_OUTPUT));&#13;</span>
     }&#13;
 &#13;
     @Test&#13;
     public void cellSurroundedByMinesShouldBeEight() {&#13;
<span class="removedLine">-        char[][] input = {{'*', '*', '*'},&#13;</span>
<span class="removedLine">-                          {'*', '.', '*'},&#13;</span>
<span class="removedLine">-                          {'*', '*', '*'}};&#13;</span>
<span class="removedLine">-        char[][] expectedOutput = {{'*', '*', '*'},&#13;</span>
<span class="removedLine">-                                   {'*', '8', '*'},&#13;</span>
<span class="removedLine">-                                   {'*', '*', '*'}};&#13;</span>
<span class="addedLine">+        Minesweeper minesweeper = new Minesweeper(THREE_BY_THREE_SURRENDER_INPUT);&#13;</span>
<span class="addedLine">+        char[][] output = minesweeper.sweep();&#13;</span>
<span class="addedLine">+        assertThat(output, is(THREE_BY_THREE_SURRENDER_OUTPUT));&#13;</span>
<span class="addedLine">+    }&#13;</span>
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void complexFieldShouldBeSweptCorrectly() {&#13;</span>
<span class="addedLine">+        char[][] input ={{'*', '*', '.'},&#13;</span>
<span class="addedLine">+                         {'.', '.', '*'},&#13;</span>
<span class="addedLine">+                         {'.', '.', '*'},&#13;</span>
<span class="addedLine">+                         {'*', '.', '*'}};&#13;</span>
<span class="addedLine">+        char[][] expectedOutput =   {{'*', '*', '2'},&#13;</span>
<span class="addedLine">+                                     {'2', '4', '*'},&#13;</span>
<span class="addedLine">+                                     {'1', '4', '*'},&#13;</span>
<span class="addedLine">+                                     {'*', '3', '*'}};&#13;</span>
 &#13;
         Minesweeper minesweeper = new Minesweeper(input);&#13;
         char[][] output = minesweeper.sweep();&#13;
         assertThat(output, is(expectedOutput));&#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    @Test&#13;</span>
<span class="addedLine">+    public void sweepFieldsShouldSweepMultipleFields() {&#13;</span>
<span class="addedLine">+        List&lt;char[][]&gt; inputFields = Arrays.asList(TWO_BY_TWO_ABOVE_LEFT_INPUT, THREE_BY_THREE_SURRENDER_INPUT);&#13;</span>
<span class="addedLine">+        List&lt;char[][]&gt; outputFields = Minesweeper.sweepFields(inputFields);&#13;</span>
<span class="addedLine">+        &#13;</span>
<span class="addedLine">+        assertThat(outputFields.size(), is(equalTo(inputFields.size())));&#13;</span>
<span class="addedLine">+        assertThat(outputFields.get(0), is(TWO_BY_TWO_ABOVE_LEFT_OUTPUT));&#13;</span>
<span class="addedLine">+        assertThat(outputFields.get(1), is(THREE_BY_THREE_SURRENDER_OUTPUT));&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;



diff -r 9fbefc8cf4d6 -r 238b0ae2d2f5 src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java
<span class="removedLine">--- a/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 14:18:55 2012 -0600</span>
<span class="addedLine">+++ b/src/main/java/com/nicholas/tuck/katas/minesweeper/Minesweeper.java	Fri Nov 30 14:44:09 2012 -0600</span>
@@ -1,45 +1,58 @@
 package com.nicholas.tuck.katas.minesweeper;&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+import java.util.ArrayList;&#13;</span>
<span class="addedLine">+import java.util.List;&#13;</span>
 &#13;
 public class Minesweeper {&#13;
 &#13;
     private final char[][] minefield;&#13;
 &#13;
     public Minesweeper(char[][] input) {&#13;
 &#13;
         minefield = input;&#13;
     }&#13;
 &#13;
     public char[][] sweep() {&#13;
         for (int rowIndex = 0, minefieldLength = minefield.length; rowIndex &lt; minefieldLength; rowIndex++) {&#13;
             char[] row = minefield[rowIndex];&#13;
             for (int colIndex = 0, rowLength = row.length; colIndex &lt; rowLength; colIndex++) {&#13;
                 updateCell(rowIndex, colIndex);&#13;
             }&#13;
         }&#13;
         return minefield;&#13;
     }&#13;
 &#13;
     private void updateCell(int rowIndex, int colIndex) {&#13;
         char[] row = minefield[rowIndex];&#13;
         char cell = row[colIndex];&#13;
         int numMines = 0;&#13;
         if (cell != '*') {&#13;
 &#13;
             int topRow = (rowIndex &gt; 0) ? rowIndex -1 : 0;&#13;
             int bottomRow = (rowIndex + 1 &lt; minefield.length) ? rowIndex + 1 : rowIndex;&#13;
             int leftCol = (colIndex - 1 &gt;= 0) ? colIndex -1 : 0;&#13;
             int rightCol = (colIndex + 1 &lt; row.length) ? colIndex +1 : colIndex;&#13;
             &#13;
             for (int neighborRow = topRow; neighborRow &lt;= bottomRow; neighborRow++){&#13;
                 for (int neighborCol = leftCol; neighborCol &lt;= rightCol; neighborCol++){&#13;
                     if (minefield[neighborRow][neighborCol] == '*'){&#13;
                         numMines++;&#13;
                     }&#13;
                 }&#13;
             }&#13;
 &#13;
             minefield[rowIndex][colIndex] = Character.forDigit(numMines, 10);&#13;
         }&#13;
 &#13;
     }&#13;
<span class="addedLine">+&#13;</span>
<span class="addedLine">+    public static List&lt;char[][]&gt; sweepFields(List&lt;char[][]&gt; inputFields) {&#13;</span>
<span class="addedLine">+        List&lt;char[][]&gt; output = new ArrayList&lt;char[][]&gt;();&#13;</span>
<span class="addedLine">+        &#13;</span>
<span class="addedLine">+        for (char[][] field : inputFields) {&#13;</span>
<span class="addedLine">+            Minesweeper minesweeper = new Minesweeper(field);&#13;</span>
<span class="addedLine">+            output.add(minesweeper.sweep());&#13;</span>
<span class="addedLine">+        }&#13;</span>
<span class="addedLine">+        return output;&#13;</span>
<span class="addedLine">+    }&#13;</span>
 }&#13;
</pre></body></html>
